<div class="body">
<div class="container main">
    <div class="container">
        <div class="pic-div">
            <img class="pic" src="{{imageUrl}}" alt="">
            <button class="btn file-upload-buton">
                <input
                  type="file"
                  #fileInput
                  (change)="onProfilePicUpload($event)"
                />Change Pic
              </button>
        </div>
    <div>
        <form action="">
            <label for="">First Name</label>
            <input class="form-control" type="text" name="firstName" [(ngModel)]="profileDetail.firstName" id="">

            <label for="">Last Name</label>
            <input class="form-control" type="text" name="lastName" [(ngModel)]="profileDetail.lastName" id="">
            
            <label for="">Email Address</label>
            <input class="form-control" type="text" name="email" [(ngModel)]="profileDetail.emailId" id="">
            
            <label for="">Mobile Number</label>
            <input class="form-control" type="text" name="mobileNo" [(ngModel)]="profileDetail.mobileNumber" id="">

            <button class="btn button" (click)="editProfile()">Save</button>
        </form>

    </div>
    </div>
</div>
</div>