.container{
    margin-bottom: 50px;
    width: 60%;
    min-width: 400px;
    margin-left: 20%;
    margin-right:20%;
}
.head{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
td,th{
    width: 100px;
}
table{
    margin-left: 20%;
}

.rowdiv{
    height:100px;
    width: 70%;
    min-width: 500px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    box-shadow: 4px 4px 0px #e9ecef;
    box-shadow: 6px 6px 0px #f4f6f7 ;
    border-bottom-right-radius: 0.5em;
}
img{
    height: 96px;
}
.btnDiv{
    padding-top: 17px;
}
.btn{
    width:80px
}