<div class="container">
    <h1>Rate Book</h1>
    <table>
        <tr>
            <th>Newspaper</th>
            <th>Category</th>
            <th>price/word</th>
            <th></th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td><button routerLink="/newsContent">Book</button></td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td><button routerLink="/newsContent">Book</button></td>
          </tr>
    </table>
</div>