
<div class="main">
    <div class="container">
        <h1>My Published Ads</h1>
        <div class="adsList" *ngFor="let ad of publishedAds; let i index">
            <div class="grid">
            <div class="newspaperDetail">
                <div id="newspaperName">{{ad['newspaperName']| titlecase }}</div>
                <div class="tags"> 
                    <span id="newspaperCategory">{{ad['newspaperCategory']| titlecase }}</span>
                    <span id="newspaperEdition">{{ad["newspaperEdition"]| titlecase}}</span>
                    <span id="newspaperLanguage">{{ad["newspaperLanguage"]| titlecase}}</span>
                </div>
                </div>
            <div class="adDetail">
                <label >Ad Type: </label><span>{{ad["adType"]| titlecase}}</span>
                <div *ngIf="ad['adType']==='text'"><label >Total Cost : </label> <span>{{ad['adRate']}}</span></div>
                <div *ngIf="ad['adType']==='display'"><label >Total Cost : </label> <span>{{ad['adRate']}}</span></div>
            </div>
                <div>
                    <button class="btn pickButton" (click)="showDiv(i)">View Ad</button>
                </div>
                <div class="arrows" (click)="showDiv(i)"> 
                    <i class="fa fa-angle-down fa-2x" aria-hidden="true" *ngIf="!ad.show"></i>
                    <i class="fa fa-angle-up fa-2x" aria-hidden="true" *ngIf="ad.show"></i>
                </div>   
            </div>
            <div class="news" *ngIf="ad.show">
                <div class="newsContent">
                    <p><img [src]="ad.adProof" alt=""></p></div>
          </div>
        </div>
    </div>
</div>



