<div class="main">
    <div class="container">
        <h1>Upload Ad Publish Proof</h1>
        <!-- <input 
        type="file" 
        name="adProof"  
        (change)="adProofUpload($event)"> -->

        <!-- <form id="form1">  -->
            <!-- <label for="imgInp" class="custom-file-upload"> 
                 <i class="fa fa-cloud-upload"></i>Chosse file</label>
                  <input type='file' id="imgInp" name="adProof" (change)="adProofUpload($event)" />      
        </form>  -->

        <h4 class="file-upload-button">
            <input
              type="file"
              #fileInput
              (change)="adProofUpload($event)"
            /><label for="imgInp"><i class="fa fa-cloud-upload"></i>Choose file</label>
        </h4>
        <button class="btn button" (click)="uploadAdProof()">Submit</button>
    </div>
</div>
