<div class="container">
    <form #ADs="ngForm">
        <div *ngIf="adNewspaper==''">
            <h1>In which newspaper you want to publish ad?</h1>
            <ul>
                <li (click)="selectNewspaper('The Indian Express')">The Indian Express</li>
                <li (click)="selectNewspaper('Financial Express')">Financial Express</li>
                <li (click)="selectNewspaper('Loksatta')">Loksatta</li>
                <li (click)="selectNewspaper('Jansatta')">Jansatta</li>
            </ul>
        </div>
    <div *ngIf="adCategory=='' && adNewspaper!==''">
    <h1>What type of Ads you want to publish?</h1>
    <ul>
      
        <li (click)="selectType('Matrimonial')">Matrimonial</li>
        <li (click)="selectType('Property')">Property Ads</li>
        <li (click)="selectType('Recuitment')">Recuitment Ads</li>
        <li (click)="selectType('Business')">Business or Personal</li>
        <li (click)="selectType('Name Change')">Name Change</li>
        <li (click)="selectType('Education')">Education</li>
        <li (click)="selectType('Other')">Other</li>
    </ul>
    </div>
    <div *ngIf="adCategory!=='' && adRegion=='' && adNewspaper!==''">
        <h1>What reagion you want to publish?</h1>
        <ul>
            <li (click)="selectRegion('Delhi/NCR')">Delhi/NCR</li>
            <li (click)="selectRegion('Chandigarh')">Chandigarh</li>
            <li (click)="selectRegion('Mumbai')">Mumbai</li>
            <li (click)="selectRegion('Kanpur')">Kanpur</li>
            <li (click)="selectRegion('Bengaluru')">Bengaluru</li>
            <li (click)="selectRegion('Hyderabad')">Hyderabad</li>
            <li (click)="selectRegion('Kolkata')">Kolkata</li>
            <li (click)="selectRegion('Bhopal')">Bhopal</li>
            <li (click)="selectRegion('Jaipur')">Jaipur</li>
        </ul>
    </div>
    <div *ngIf="adLanguage=='' && adCategory!=='' && adRegion!=='' && adNewspaper!==''">
        <h1>Select language in which you want to publish?</h1>
        <ul>
            <li (click)="selectLanguage('Hindi')">Hindi</li>
            <li (click)="selectLanguage('English')">English</li>
            <li (click)="selectLanguage('Punjabi')">Punjabi</li>
        </ul>
    </div>
    <div  *ngIf="adCategory!=='' && adRegion!=='' && adLanguage!=='' && adType=='' && adNewspaper!==''">
       <h1> What type of Ads you want?</h1>
        <div class="row">
        <div class="col-sm-6" (click)="selectAdType('text')">
            <img src="../../../assets/text ads.PNG" alt="Text Ads"><br>
            <label>Text Ads</label>
        </div>
        <div class="col-sm-6" (click)="selectAdType('display')">
            <img src="../../../assets/dispaly.jfif" alt="Text Ads"><br>
            <label>Display Ads</label>
        </div>
        </div>
    </div>
    <div *ngIf="adCategory!=='' && adRegion!=='' && adLanguage!=='' && adType!=='' && adNewspaper!==''">
        <br><br>
        <h1>What date you choose for publish?</h1>
        <input type="date" name="date OF publish" class="form-control date" [(ngModel)]="dateOfPublish">
        <br><br>
        <button (click)="route()" class="btn btn-success next">Click here to get rate book</button>
    </div>

    <!-- <div *ngIf="adType=='Matrimonial'">
        

    </div> -->



</form>
</div>