li{
    display: block;
    width: 60%;
    min-width: 400px;
    border: 2px solid #cccccc;
    height: 40px;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-left: 20%;
    margin-right:20%;
    padding-left: 5%;
    cursor: pointer;
  
}
li:hover,.date:hover{
    border:2px solid #ff1300;
}
.container{
    margin-bottom: 50px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
.date{
    width: 60%;
    min-width: 400px;
    margin-left: 20%;
    margin-right:20%;
    height: 40px;
    align-self:center;
}

.next{
    float: right;
}
form{
    width: 60%;
    min-width: 400px;
    margin-left: 20%;
    margin-right:20%;
}
