li{
    display: block;
    min-width: 400px;
    border: 2px solid #cccccc;
    height: 40px;
    font-size: 1.5em;
    margin-bottom: 5px;
    padding-left: 5%;
    cursor: pointer;
    border-radius: 0.7em;
  
}
li:hover,.date:hover{
    border:2px solid #ff1300;
}
.container{
    margin-bottom: 50px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.date{
    width: 100%;
    min-width: 400px;
    height: 40px;
    align-self:center;
}

.next{
    float: right;
}
form{
    width: 60%;
    min-width: 400px;
    margin-left: 20%;
    margin-right:20%;
}

img{
    height: 100px;
    width: 100px;
}
.col-sm-6{
    padding-left: 15%;
}