<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<div class="container">
    <div class="start" *ngIf="start">
        <p>
            <span id="logo"><span id="my">My</span><span id="ad">Ad</span><span id="sense">sense</span></span>
            <span>Publish your Ads and compare price from different Newspapers..</span>
        </p>
        <br>
        <div class="arrow" (click)="start=false"><i><img src="../../../assets/arrow.png" alt=""></i></div>
    </div>

    <form #ADs="ngForm">

        <div *ngIf="adLanguage=='' && !start">
            <h1>Select language in which you want to publish?</h1>
            <ul>
                <li *ngFor="let lang of languages, let i=index"  (click)="selectLanguage(lang)">{{lang|titlecase}}</li>
            </ul>
        </div>

        <div *ngIf="adCategory=='' && adLanguage!==''">
            <h1>What type of Ads you want to publish?</h1>
            <ul>
              
                <li *ngFor="let cat of categories ,let i = index" (click)="selectCategory(cat)">{{cat|titlecase}}</li>
         
            </ul>
            <img class="backImg" (click)="adLanguage=''" src="../../../assets/arrow.png" alt="">
            </div>

        <div *ngIf="adNewspaper=='' && adCategory!=='' && adLanguage!==''">
            <h1>In which newspaper you want to publish ad?</h1>
            <ul>
            <li *ngFor="let newspaper of newspapers" (click)="selectNewspaper(newspaper)">{{newspaper|titlecase}}</li>
  
            </ul>
            <img class="backImg" (click)="adLanguage=''" src="../../../assets/arrow.png" alt="">
           </div>

    <div *ngIf="adCategory!=='' && adRegion=='' && adNewspaper!=='' && adLanguage!==''">
        <h1>What reagion you want to publish?</h1>
        <ul>
            <li *ngFor="let edition of newspaperEditions" (click)="selectRegion(edition)">{{edition|titlecase}}</li>
   
        </ul>
        <img class="backImg" (click)="adLanguage=''" src="../../../assets/arrow.png" alt="">
      </div>

    <div  *ngIf="adCategory!=='' && adRegion!=='' && adLanguage!=='' && adType=='' && adNewspaper!==''">
       <h1> What type of Ads you want?</h1>
        <div class="row">
        <div class="col-sm-6" (click)="selectAdType('text')">
            <img src="../../../assets/text ads.PNG" alt="Text Ads"><br>
            <label>Text Ads</label>
        </div>
        <div class="col-sm-6" (click)="selectAdType('display')">
            <img src="../../../assets/dispaly.jfif" alt="Text Ads"><br>
            <label>Display Ads</label>
        </div>
        </div>
        <img class="backImg" (click)="adLanguage=''" src="../../../assets/arrow.png" alt="">
    </div>
    <div *ngIf="adCategory!=='' && adRegion!=='' && adLanguage!=='' && adType!=='' && adNewspaper!==''">
        <br><br>
        <h1>What date you choose for publish?</h1>
        <input type="date" [min]="currentDate| date:'yyyy-mm-dd'" name="date OF publish" class="form-control date" [(ngModel)]="dateOfPublish">
        <br><br>
        <img class="backImg" (click)="adLanguage=''" src="../../../assets/arrow.png" alt="">
    <button (click)="route()" class="btn btn-success next">Click here to get rate book</button>
    </div>

</form>
</div>