<!-- 
<div class="container">
    <h1 class="head">My Ads List</h1>
       <div *ngFor="let ad of myAds">
      <div class="row rowdiv">
        <div class="col-sm-4">
          <img src="../../../assets/loginImg.jfif" alt="">
        </div>
        <div class="col-sm-5">
         <h3>{{ad['newspaperName']|titlecase}}</h3>
         <h6></h6>
         <h6 >{{ad['newspaperCategory']}}</h6>
         <h6>{{ad['newspaperEdition']}}</h6>
         <h6 >{{ad['adType']}}</h6>
         <h6 >{{ad['adPublishDate']}}</h6>
         <h6>{{ad['adRate']}}</h6>
        </div>
        <div class="col-sm-3 btnDiv">
          <button  routerLink="/newsContent" class="btn btn-success">Book Deal</button>
        </div>
      </div>
  </div>
</div> -->




<div class="main">
  <div class="container">
      <div class="adsList" *ngFor="let ad of myAds; let i index" >
        <div class="grid" >
          <div class="newspaperDetail">
              <div id="newspaperName">{{ad['newspaperName']| titlecase }}</div>
              <span id="newspaperCategory">{{ad['newspaperCategory']| titlecase }}</span>
              <span id="newspaperEdition">{{ad["newspaperEdition"]| titlecase}}</span>
              <span id="newspaperLanguage">{{ad["newspaperLanguage"]| titlecase}}</span>
          </div>
          <div class="adDetail">
              <div><label >Ad Type: </label><span>{{ad["adType"]| titlecase}}</span></div>
              <div><label >Ad publish Date: </label><span>{{ad['adPublishDate']|date:'longDate'}}</span></div>
              <div *ngIf="ad['adType']==='text'"><label >Total Cost : <i class="fa fa-inr" aria-hidden="true"></i></label> <span>{{ad['adRate']}}</span></div>
              <div *ngIf="ad['adType']==='display'"><label >Total Cost : <i class="fa fa-inr" aria-hidden="true"></i></label> <span>{{ad['adRate']}}</span></div>
          </div>
          <div class="status-div">
              <span id="processing-status" *ngIf="ad['adStatus']==='PROCESSING'">{{ad['adStatus']|uppercase}}</span>
              <span id="published-status" *ngIf="ad['adStatus']==='PUBLISHED'">{{ad['adStatus']|uppercase}}</span>
            </div>
            <div class="arrows" (click)="showDiv(i)"> 
              <i class="fa fa-angle-down fa-2x" aria-hidden="true" *ngIf="!ad.show"></i>
              <i class="fa fa-angle-up fa-2x" aria-hidden="true" *ngIf="ad.show"></i>
          </div>
        </div>
          <div class="news" *ngIf="ad.show">
            <div class="newsContent">{{ad['adContent']}}</div>
      </div>
  </div>
</div>