li,a,.logo{
    display: inline;
    color:#ff1300;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    width:50px;
}

ul{
    background:#e9ecef;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    padding-top: 10px;
}
/* .logo{
    float:left;
} */
.navigation{
    height: 50px;
    background:#e9ecef;
    /* padding-top: 10px; */
}
/* .collogo{
    width: 20%;
} */
.colnav{
    float: right;
} 