<div class="row navigation">
    <div class="col-sm-2 collogo">
        <!-- <a routerLink="/home"><i><img src="../../../assets/odc-sample-73245-5564.png" alt="Adsense Logo"></i></a> -->
    </div>
    <div class="col-sm-10 colnav">
        <ul>
            <li><a routerLink=''>Login</a></li>
            <li><a routerLink="/about">About us</a></li>
            <li><a href="#">HELLO WORLD</a></li>
            <li><a href="#">Price</a></li>
        </ul>
    </div>
</div>
<!-- <a routerLink="/home">ADsense</a>
<ul>
    
    <li><a routerLink=''>Login</a></li>
    <li><a routerLink="/about">About us</a></li>
    <li><a href="#">HELLO WORLD</a></li>
    <li><a href="#">Price</a></li>
</ul> -->