<div class="row navigation">
    <div class="col-lg-2 collogo">
        <a routerLink="/home"><i><img src="../../../assets/logo.PNG" alt="Adsense Logo"></i></a>
    </div>
    <div class="col-lg-10 colnav">
        <ul>
            <li><a routerLink='/'>Home</a></li>
            <li><a routerLink="/about">About us</a></li>
            <li><a href="#">Login</a></li>
            <li id="contact">+9199999xxxxx</li>
        </ul>
    </div>
</div>
<!-- <a routerLink="/home">ADsense</a>
<ul>
    
    <li><a routerLink=''>Login</a></li>
    <li><a routerLink="/about">About us</a></li>
    <li><a href="#">HELLO WORLD</a></li>
    <li><a href="#">Price</a></li>
</ul> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo.PNG" alt="Adsense Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">+919999xxxxxx</a>
      </div>
    </div>
  </nav>

   -->