<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<div class="row navigation">
    <div class="col-lg-4 collogo">
        <a routerLink="/home"><span id="my">My</span><span id="ad">Ad</span><span id="sense">sense</span></a>
    </div>
    <div class="col-lg-8 colnav">
        <ul>
            <li><a routerLink='/home'>Home</a></li>
            <li><a routerLink="/about">About us</a></li>
            <!-- <li *ngIf="isLogin"><a routerLink="/">Login</a></li> -->
            <li>Contact us</li>
            <li *ngIf="isLogin" (click)="displayNav()"><img src="../../../assets/arrow.png" alt="Profile Pic" class="logo" id="pic"></li>
        </ul>
    </div>
</div>


<div class="vertical-menu" id="profileNav" style="display: none;">
  <a routerLink="/userProfile">View Profile</a>
  <a *ngIf="userRole==='SUBSCRIBER'" routerLink="/myAds">My ADs</a>
  <a routerLink="/" (click)="clearLocalStorage()"> Logout</a>
</div>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo.PNG" alt="Adsense Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">+919999xxxxxx</a>
      </div>
    </div>
  </nav>

   -->