<div class="container">
<h1>Detail For Matrimonial Ads</h1>
        <form #matDetail="ngForm">
            <h3>
                Select one
            </h3>
            <input type="radio">Groom
            <input type="radio">Bride
            <br>
            <label>Name:</label>
            <input type="text" class="form-control">

            <label>Age</label>
            <input type="text" class="form-control">
            
            <label >Religion</label>
            <input type="text" class="form-control">

         </form>
</div>